:root {
    --dark: #474747;
    --light: #ffffff;
    --color-1: #38319E;
    --color-2: #4c48a29a;
    --color-3: #A09CD8;
    --color-3-alpha-50: rgba(160, 156, 216, 0.5);
    --color-4: #4940ba;
    --composer-color: #5049cc85;
    /* --chat-background-gradient: linear-gradient(150deg, rgba(82, 31, 226, 0.92) 0%, #282462 80.21%); */
    --chat-background-gradient: linear-gradient(30deg, rgb(27 12 67 / 92%) 0%, #24214d 80.61%);
    --text-color: #EAEAEA;
    --text-color-alpha-60: rgba(234, 234, 234, 0.6);
    --color-not-read-chat: #403a9336;
    --color-recent-chat-item: #5148ca00;
    --color-selected-chat-item: #46398f;
    --regular-font-weight: 600;
    --bold-font-weight: 700;
    --composer-width: 0px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: #dcdbf3;
}

form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper {
    background: linear-gradient(150deg, rgba(82, 31, 226, 0.92) 0%, #282462 80.21%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
}

.container {
    background: #5b55ce85;
    width: 100%;
    /* height: 100%; */
    max-width: 500px;
    /* max-height: 550px; */
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px #38319E;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 20px;
    background-color: #625cdb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* .text{
    position: absolute;
    left: 25%;
    top: 50%;
} */

.text,#back-button{
    font-size: 2.5rem;
    color: rgb(242, 238, 253);
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

#back-button{
    font-size: 2.8rem;
    position: absolute;
    left: 30px;
    cursor: pointer;
}



.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 30px 15px;

}

.pictureField {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 10px 0;
}

.field label {
    font-size: 1rem;
    margin: 2px 0;
}

input {
    padding: 5px;
    border: 3px solid #8a83e7;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    color: #5f5c8a;
    font-family: 'Nunito';
}

input:focus-within {
    border-color: #5f5c8a;
}

input[type="file"] {
    display: none;
}

#userProfilePicture {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: 3px solid #6a61df;
}

#uploadProfilePicture {
    background-color: #7670df;
    color: #e6e4ff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0 1px;
    font-size: .8rem;
    border: 3px solid #7873e6;
}

#uploadProfilePicture:hover {
    background-color: #7670df9f;
    border-color: #6a61df9f;

}

button {
    background-color: #7670df;
    color: #e6e4ff;
    cursor: pointer;
    padding: 5px;
    border: 3px solid #7873e6;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Nunito';
    margin-top: 5px;
    letter-spacing: 2px;
}

button:hover {
    background-color: #7670df9f;
    border-color: #6a61df9f;

}

.error {
    font-size: 12px;
    color: #fddbdb;
    font-weight: bold;
    letter-spacing: 1px;
}

.loader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 998;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 9, 59, 0.363);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(141, 100, 255);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

.selectedUsers{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}

.selectedUsers div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    min-width: 90px;
    height: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectedUsers img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #6a61df;
}

.selectedUsers label{
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    height: 22px;
}

.searchResult{
    width: 85%;
    display: flex;
    flex-direction: column;
}

.searchResult div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.searchResult img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #6a61df;
}

.margin{
    margin: 5px;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked{
    background-color: rgba(160, 156, 216, 0.5);
}

::-webkit-scrollbar{
    background-color: #6f6bb66c;
}
::-webkit-scrollbar-thumb{
    background-color: #6f6bb6c0;
    border-radius: 10px;
}